<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>BigQuery Record Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>BigQuery Record Manager</h1>
        </div>
	   <div class="header">
	   <h2>Create Scheduled Policy</h2>
	   <span style="color:#9d9a9a;">
		   <h6>To create a new policy config, fill out the fields below and click on the Submit Policy button. 
		    <br><br>Mandatory fields are marked by <span style="color:red;">*</span>
		   </h6>
	  </span>
	   </div>
         <form method="post" action="/process_scheduled_policy">
		    <table>
			   <tr>
     			 <td><span style="color:red;">*</span>&nbsp;Policy Action:&nbsp;</td>
				   <td>
				   <select name="policy_action" style="width: 80px;padding: 3px;">
					  <option value="delete">Delete</option>
				    	  <option value="archive">Archive</option>
				   </select>
			   	   </td>
			   </tr>
			   <tr>
	    			 <td><span style="color:red;">*</span>&nbsp;Storage System:&nbsp;</td>
				   <td>
				   <select name= "storage_system" style="width: 80px;padding: 3px;">
					  <option value="BQ">BQ</option>
				    	  <option value="GCS">GCS</option>
				   </select>
			   	   </td>
			   </tr>
		   </table>
		   <p>&nbsp;&nbsp;</p>
			    <h3>Entity Details</h3>
    		    <table>  
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Entity Name:&nbsp;</td>
				<td>
				<input type="text" name="entity_name" style="width: 150px;padding: 3px;">
				</td>
			   </tr>	   
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Entity Path:</td>
				<td>
				<input type="text" name="entity_path" style="width: 300px;padding: 3px;">
				</td>
			   </tr>
		   </table>
		   <p>&nbsp;&nbsp;</p>
		    <h3>Group Details</h3>
		    <table>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Grouping:</td>
				<td>
			    <select name="grouping" style="width: 80px;padding: 3px;">
			      <option value="True">True</option>
				 <option value="False" selected>False</option>
			    </select>
				</td>
			   </tr>
			   <tr>
		          <td>&nbsp;&nbsp;Entity Groups:&nbsp;</td>
				<td>
				<input type="text" name="entity_groups" style="width: 300px;padding: 3px;">
				</td>
			   </tr>
    		   	</table>
			<p>&nbsp;&nbsp;</p>
    		    <h3>Schema Details</h3>
    		    <table>
 		        <tr>
 		          <td><span style="color:red;">*</span>&nbsp;Timestamp Column:</td>
 				<td>
 				<input type="text" name="ts_column" style="width: 150px;padding: 3px;">
 				</td>
 			   </tr>
			    	<tr>
				<td>&nbsp;&nbsp;SQL Filter Expression:&nbsp;
				</td>
				<td>
			   	<textarea name="sql_filter_exp" style="align-content:left; width: 300px; overflow:auto;">
			     </textarea>
				</td>
			   </tr> 
			   </table>
			   <p>&nbsp;&nbsp;</p>
			   <h3>Data Retention Details</h3>
		 	   <table>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Retention Period:&nbsp;</td>
				<td>
				<input type="text" name="retention_period" style="width: 60px;padding: 3px;">
				</td>
			   </tr>
			   <tr>
     			 <td><span style="color:red;">*</span>&nbsp;Retention Unit:</td>
				   <td>
	    			  <select name="retention_unit" style="width: 70px;padding: 3px;">
				   	<option value="day" selectec>Day</option>
					<option value="month">Month</option>
					<option value="year">Year</option>
				  </select>
			   	   </td>
			   </tr>
		   </table>
			   
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Policy" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
         </form>
	    <p>&nbsp;&nbsp;<a href="/">Homepage</a></p>
    </body>
</html>
