<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>BigQuery Record Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
  
  {% if saved == 1 %}
	  <table><tr><td>
	  &nbsp;<span style="color:green;">Foreign Key relations saved!</span>
	  </td></tr></table><p>
  {% endif %}
  
  <div class="pagetitle">
  <h1>BigQuery Record Manager</h1>
  </div>
  <div class="header">
  <h2>Create Table Associations</h2>
  </div>  
		  		 	   <span style="color:#9d9a9a;">
		  		 		   <h6>&nbsp;&nbsp;Tables in the warehouse are linked via foreign key relations. You can create one or more foreign key relations using standard SQL syntax. <br><br>
							    
							     &nbsp;&nbsp;Since you are creating these foreign keys on BQ tables, you'll need to qualify each table with its BQ dataset.
							   You'll also need to separate each statement with an ";"<br><br>
		  					  &nbsp;&nbsp;Example foreign key statements: <br><br><b>
							 <table><tr><td>
		  					  <div class="code">
								  &nbsp;&nbsp;ALTER TABLE edw.customer ADD FOREIGN KEY (address_id) REFERENCES edw.address(address_id);<br>
							       &nbsp;&nbsp;ALTER TABLE edw.address ADD FOREIGN KEY (city_id, country_id) REFERENCES edw.city(city_id, country_id);
							  </div>
						  	</td></tr></table>
		  				  </h6>
		  				</span>
						<form method="post" action="/process_associations">
		  			    <table>
		  			     <tr>
		  			    <td>
						   
						    {% if foreign_key_stmts %}
						    <textarea name="foreign_key_stmts" style="align-content:left; width: 880px; height: 250px; overflow:auto;">{{ foreign_key_stmts }}
						   {% else %}
					   		<textarea name="foreign_key_stmts" style="align-content:left; width: 880px; height: 250px; overflow:auto;">ALTER TABLE ...
						   {% endif %}
						   </textarea>
				         </td>
		    	    		   </table>
				        <table>
				        <tr>
					   <td><input type="submit" value="Submit Changes" name="action">
					       <input type="submit" value="Cancel Changes" name="action">
					   </td>
				        </tr>
					   </table>
					   </form>
    </body>
</html>
