<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Lakehouse Lifecycle Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	    {% if saved == 1 %}
	    <table><tr><td>
	    &nbsp;<span style="color:green;">Settings Saved!</span>
         </td></tr></table><p>
	    {% endif %}
	    
	   <div class="pagetitle">
	   <h1>Lakehouse Lifecycle Manager</h1>
        </div>
	   <div class="header">
	   <h2>GCS Settings</h2>
	   <span style="color:#9d9a9a;">
		   <h6>Policies which reference GCS locations for data archiving or disposal require certain GCS settings. If you plan to create such policies, enter your GCS location details below. <br>
			  
			  Currently, the only supported file format and compression format are Parquet and Snappy, respectively.   
			   
		    <br><br>Mandatory fields are marked by <span style="color:red;">*</span>
		   </h6>
	  </span>
	   </div>
         <form method="post" action="/process_gcs_settings">
		    <table>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;GCS Project ID:&nbsp;</td>
				<td>
				<input type="text" name="project" value="{{ project }}" style="width: 100px;padding: 3px;">
				</td>
			   </tr>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Data Archive Bucket:&nbsp;</td>
				<td>
				<input type="text" name="archive_bucket" value="{{ archive_bucket }}" style="width: 150px;padding: 3px;">
				</td>
			   </tr>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Data Lake Bucket:&nbsp;</td>
				<td>
				<input type="text" name="lake_bucket" value="{{ lake_bucket }}" style="width: 150px;padding: 3px;">
				</td>
			   </tr>
  		        <tr>
  		          <td><span style="color:red;">*</span>&nbsp;File Format:&nbsp;</td>
  				<td>
 			     <select name="file_format" style="width: 100px;padding: 3px;">
 			      <option value="PARQUET" selected>Parquet</option>
 			     </select>
  				</td>
  			   </tr>
  		        <tr>
  		          <td><span style="color:red;">*</span>&nbsp;Compression Format:&nbsp;</td>
  				<td>
 			     <select name="compression" style="width: 100px;padding: 3px;">
 			      <option value="SNAPPY" selected>Snappy</option>
 			     </select>
  				</td>
  			   </tr>
		   </table>
   
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Changes" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
			   
         </form>
    </body>
</html>
