<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>BigQuery Record Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>BigQuery Record Manager</h1>
        </div>
	   <div class="header">
	   <h2>Update Scheduled Policy</h2>
	   <span style="color:#9d9a9a;">
		   <h6>To update your scheduled policy, make the necessary changes in the fields below and then click on the Submit Changes button. 
		    <br><br>Mandatory fields are marked by <span style="color:red;">*</span>
		   </h6>
	  </span>
	   </div>
         <form method="post" action="/process_scheduled_policy">
		    <table>
 			   <tr>
      			 <td><span style="color:red;">*</span>&nbsp;Policy Id:&nbsp;</td>
 				   <td><span style="font-size: 12px;">{{ policy_id }}</span></td>
			   </tr>
 			   <tr>
      			 <td><span style="color:red;">*</span>&nbsp;Date Created:&nbsp;</td>
 				   <td><span style="font-size: 12px;">{{ date_created }}</span></td>
			   </tr>		  
			   <tr>
     			 <td><span style="color:red;">*</span>&nbsp;Policy Action:&nbsp;</td>
				   <td>
				   <select name="policy_action" style="width: 80px;padding: 3px;">
					  {% if policy_action == "delete" %}
					  	<option value="delete" selected>Delete</option>
					  {% else %}
					  	<option value="delete">Delete</option>
					  {% endif %}
				    	  
					  {% if policy_action == "archive" %}
					  	<option value="archive" selected>Archive</option>
					  {% else %}
					  	<option value="archive">Archive</option>
					  {% endif %}
				   </select>
			   	   </td>
			   </tr>
			   <tr>
	    			 <td><span style="color:red;">*</span>&nbsp;Storage System:&nbsp;</td>
				   <td>
				   <select name= "storage_system" style="width: 80px;padding: 3px;">
					  {% if storage_system == "BQ" %}
					  	<option value="BQ" selected>BQ</option>
					   {% else %}
					   	<option value="BQ">BQ</option>
					   {% endif %}
					   
					  {% if storage_system == "GCS" %} 
				    	  	<option value="GCS" selected>GCS</option>
					  {% else %}
					  	<option value="GCS">GCS</option>
					  {% endif %}
				   </select>
			   	   </td>
			   </tr>
		   </table>
		   <p>&nbsp;&nbsp;</p>
			    <h3>Entity Details</h3>
    		    <table>  
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Entity Name:&nbsp;</td>
				<td>
				<input type="text" name="entity_name" value="{{ entity_name }}" style="width: 150px;padding: 3px;">
				</td>
			   </tr>	   
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Entity Path:</td>
				<td>
				<input type="text" name="entity_path" value="{{ entity_path }}" style="width: 300px;padding: 3px;">
				</td>
			   </tr>
		   </table>
		   <p>&nbsp;&nbsp;</p>
		    <h3>Group Details</h3>
		    <table>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Grouping:</td>
				<td>
			    <select name="grouping" style="width: 80px;padding: 3px;">
			      {% if grouping == "True" %} 
				 	<option value="True" selected>True</option>
				 {% else %}
				 	<option value="True">True</option>
				 {% endif %}
				 
				 {% if grouping == "False" %} 
				 	<option value="False" selected>False</option>
				 {% else %}
				 	<option value="False">False</option> 
				 {% endif %}  
			    </select>
				</td>
			   </tr>
			   <tr>
		          <td>&nbsp;&nbsp;Entity Groups:&nbsp;</td>
				<td>
				<input type="text" name="entity_groups" value="{{ entity_groups }}" style="width: 300px;padding: 3px;">
				</td>
			   </tr>
    		   	</table>
			<p>&nbsp;&nbsp;</p>
    		    <h3>Schema Details</h3>
    		    <table>
 		        <tr>
 		          <td><span style="color:red;">*</span>&nbsp;Timestamp Column:</td>
 				<td>
 				<input type="text" name="ts_column" value="{{ ts_column }}" style="width: 150px;padding: 3px;">
 				</td>
 			   </tr>
			    	<tr>
				<td>&nbsp;&nbsp;SQL Filter Expression:&nbsp;
				</td>
				<td>
			   	<textarea name="sql_filter_exp" style="align-content:left; width: 300px; overflow:auto;">{{ sql_filter_exp }}
			     </textarea>
				</td>
			   </tr> 
			   </table>
			   <p>&nbsp;&nbsp;</p>
			   <h3>Data Retention Details</h3>
		 	   <table>
		        <tr>
		          <td><span style="color:red;">*</span>&nbsp;Retention Period:&nbsp;</td>
				<td>
				<input type="text" name="retention_period" value="{{ retention_period }}" style="width: 60px;padding: 3px;">
				</td>
			   </tr>
			   <tr>
     			 <td><span style="color:red;">*</span>&nbsp;Retention Unit:</td>
				   <td>
	    			  <select name="retention_unit" style="width: 70px;padding: 3px;">
				   	{% if retention_unit == "day" %} 
						<option value="days" selected>Day</option>
					{% else %}
						<option value="days">Day</option>
					{% endif %}
					
					{% if retention_unit == "month" %} 
						<option value="month" selected>Month</option>
					{% else %}
						<option value="month">Month</option>
					{% endif %}
						
					{% if retention_unit == "year" %} 
						<option value="year" selected>Year</option>
					{% else %}
						<option value="year">Year</option>
					{% endif %}
				  </select>
			   	   </td>
			   </tr>
		   </table>
			   
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Policy" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
			   <input type="hidden" name="policy_id" value="{{ policy_id }}">
         </form>
    </body>
</html>
