<html>
   <head>
      <script src="https://aiui.googleapis.com/v1/component/client.js?key=AIzaSyDUI1W1Pzq9ZswI_5qzK5IIa0wZuAc24xA"></script>
   </head>
   <body>
      <div class="content-div" style="height: 90%; width: 100%; overflow: hidden"></div>
      <script>
         const div = document.querySelector(".content-div");
         const sdk = new AIUIComponentClient("AIzaSyDUI1W1Pzq9ZswI_5qzK5IIa0wZuAc24xA");
         
	    dagInput = {
		  "meta": {
              "Orders FK": {
                      "description": "customerID = customerID",
                      "state": 'NO_STATE_RUNTIME',
                      "icon": {
                          "name": 'topic',
                          "iconset": "shell",
                          "size": "small"
                     }
              },
              "Reservations FK3": {
                              "description": "OrderID = ordernumber",
                              "state": 'NO_STATE_RUNTIME',
                              "icon": {
                                "name": 'topic',
                                "iconset": "shell",
                                "size": "small"
                              }
             	},
              "Reservations FK2": {
                           "description": "OrgID = orgid",
                           "state": 'NO_STATE_RUNTIME',
                           "icon": {
                             "name": 'topic',
                             "iconset": "shell",
                             "size": "small"
                           }
          	}, 
               "PermittedEquipment FK": {
                         "description": "CampsiteID = CampsiteID",
                         "state": 'NO_STATE_RUNTIME',
                         "icon": {
                           "name": 'topic',
                           "iconset": "shell",
                           "size": "small"
                         }
        		},   
               "MemberTours FK": {
                       "description": "TourID = TourID",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		}, 
                 "RecAreas FK2": {
                       "description": "RecAreaID = RecAreaID",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		},
                 "RecAreas FK1": {
                       "description": "OrgID = ParentOrgID",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		},
                 "OrgEntities FK": {
                       "description": "OrgID = OrgID",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		},
                 "PermitEntranceZones FK": {
                       "description": "PermitEntranceID = PermitEntranceID",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		},
			  "Reservations FK1": {
                       "description": "FacilityID = facilityid",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		},
                 "Tours FK": {
                       "description": "FacilityID = FacilityID",
                       "state": 'NO_STATE_RUNTIME',
                       "icon": {
                         "name": 'topic',
                         "iconset": "shell",
                         "size": "small"
                       }
      		},
			"PermitEntrances FK2": {
                     "description": "EntryID = PermitEntranceID",
                     "state": 'NO_STATE_RUNTIME',
                     "icon": {
                       "name": 'topic',
                       "iconset": "shell",
                       "size": "small"
                     }
    		     },
               "PermitEntrances FK1": {
                   "description": "FacilityID = FacilityID",
                   "state": 'NO_STATE_RUNTIME',
                   "icon": {
                     "name": 'topic',
                     "iconset": "shell",
                     "size": "small"
                   }
  		     },
               "FacilityAddresses FK": {
                 "description": "FacilityID = FacilityID",
                 "state": 'NO_STATE_RUNTIME',
                 "icon": {
                   "name": 'topic',
                   "iconset": "shell",
                   "size": "small"
                 }
		     },
              "CampsiteAttributes FK": {
               "description": "CampsiteID = EntityID",
               "state": 'NO_STATE_RUNTIME',
               "icon": {
                 "name": 'topic',
                 "iconset": "shell",
                 "size": "small"
                }
	         },
		    "CampsiteAttributes": {
		      "displayName": "CampsiteAttributes",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
			   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
			   "size": "large"
		      }
		    },
		    "Campsites": {
		      "displayName": "Campsites",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "Facilities": {
		      "displayName": "Facilities",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "FacilityAddresses": {
		      "displayName": "FacilityAddresses",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "MemberTours": {
		      "displayName": "MemberTours",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "Tours": {
		      "displayName": "Tours",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "Orders": {
		      "displayName": "Orders",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "Customers": {
		      "displayName": "Customers",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "OrgEntities": {
		      "displayName": "OrgEntities",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "Organizations": {
		      "displayName": "Organizations",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "PermitEntranceZones": {
		      "displayName": "PermitEntranceZones",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "PermitEntrances": {
		      "displayName": "PermitEntrances",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "PermitEntranceAttributes": {
		      "displayName": "PermitEntranceAttributes",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "PermittedEquipment": {
		      "displayName": "PermittedEquipment",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "RecAreas": {
		      "displayName": "RecAreas",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "RecAreaAddresses": {
		      "displayName": "RecAreaAddresses",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    },
		    "Reservations": {
		      "displayName": "Reservations",
		      "state": "NO_STATE_RUNTIME",
		      "description": "ridb dataset",
		      "icon": {
		   	   "name": "artifact-datasets",
		        "iconset": "cloud_ai",
		   	   "size": "large"
		      }
		    }
		  },
		  "skeleton": [
 		      {
 		        "id": "Campsites",
 		        "type": "execution",
 		        "next": [
    		          {
     		        "id": "CampsiteAttributes FK",
   				   "edgeLabel": "",
     		        "type": "artifact",
   				    "next": [
   	    		          {  
					  "id": "CampsiteAttributes",
	    				  "edgeLabel": "",
	    		            "type": "execution"
 				      },
				    ]
			      },
    		          {
     		       "id": "PermittedEquipment FK",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "PermittedEquipment",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
 				}
 			   ]
 		      },
		  	 {
			  "id": "Facilities",
	            "type": "execution",
  		        "next": [
  		          {
  		            "id": "FacilityAddresses FK",
				  "edgeLabel": "",
  		            "type": "artifact",
				  "next": [
	    		          {
	    		            "id": "FacilityAddresses",
	  				  "edgeLabel": "",
	    		            "type": "execution"
	    				}
				  ]
  				},
  		          {
     		       "id": "PermitEntrances FK1",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "PermitEntrances",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
  				},
  		          {
     		       "id": "Reservations FK1",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "Reservations",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
  				},
  		          {
  		            "id": "Tours FK",
				  "edgeLabel": "",
  		            "type": "artifact",
				  "next": [
	    		          {
	    		            "id": "Tours",
	  				  "edgeLabel": "",
	    		            "type": "execution"
	    				}
				  ]
  				},
			   ] 
			 },
	          {
			  "id": "Tours",
	            "type": "execution",
  		        "next": [
  		          {
     		       "id": "MemberTours FK",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "MemberTours",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
  				}
			   ] 
			 },
 	          {
 			  "id": "Customers",
 	            "type": "execution",
   		        "next": [
   		          {
     		       "id": "Orders FK",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "Orders",
   	  				  "edgeLabel": "",
   	    		            "type": "execution",
	       		        "next": [
	       		          {
	  	     		       "id": "Reservations FK3",
	  	   				  "edgeLabel": "",
	  	     		       "type": "artifact",
	  	   				  "next": [
	  	   	    		          {
	  	   	    		            "id": "Reservations",
	  	   	  				  "edgeLabel": "",
	  	   	    		            "type": "execution"
	  	   	    				}
	  	   				  ]
	       				}
	  				   ]
   	    				}
   				  ]
   				}
 			   ] 
 			 },
  	          {
  			  "id": "Organizations",
  	            "type": "execution",
    		        "next": [
    		          {
     		       "id": "OrgEntities FK",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "OrgEntities",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
    				},
    		          {
     		       "id": "RecAreas FK1",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "RecAreas",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
    				},
    		          {
     		       "id": "Reservations FK2",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "Reservations",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
    				}
  			   ] 
  			 },
   	          {
   			  "id": "PermitEntrances",
   	            "type": "execution",
     		        "next": [
     		          {
	     		       "id": "PermitEntranceZones FK",
	   				  "edgeLabel": "",
	     		       "type": "artifact",
	   				  "next": [
	   	    		          {
	   	    		            "id": "PermitEntranceZones",
	   	  				  "edgeLabel": "",
	   	    		            "type": "execution"
	   	    				}
	   				  ]
     			   }
   			     ] 
   			 },
    	          {
    			  "id": "PermitEntranceAttributes",
    	            "type": "execution",
      		        "next": [
      		          {
	     		       "id": "PermitEntrances FK2",
	   				  "edgeLabel": "",
	     		       "type": "artifact",
	   				  "next": [
	   	    		          {
	   	    		            "id": "PermitEntrances",
	   	  				  "edgeLabel": "",
	   	    		            "type": "execution"
	   	    				}
	   				  ]
      				}
    			   ] 
    			 },
	          {
			  "id": "RecAreaAddresses",
	            "type": "execution",
  		        "next": [
  		          {
     		       "id": "RecAreas FK2",
   				  "edgeLabel": "",
     		       "type": "artifact",
   				  "next": [
   	    		          {
   	    		            "id": "RecAreas",
   	  				  "edgeLabel": "",
   	    		            "type": "execution"
   	    				}
   				  ]
  				}
			   ] 
			 },			 
		   ]
		};
	
         	// console.log('dagInput:', dagInput);
          sdk.render(div, {
              component: "DirectedAcyclicGraph",
              dagSpec: dagInput,
          });
      </script>
		<p>&nbsp;</p>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<p>&nbsp;&nbsp;<a href="{{ url_for('create_associations', saved=0) }}">Create/Edit Associations</a>&nbsp;&nbsp;<a href="/">Main Menu</a></p>
   </body>
</html>